<form method="get" action="/quizes">
<label for="search">Buscar Pregunta:</label>
<input type="text" name="search" value="Texto a buscar..." />
<input type="submit" value="Enviar" />
<% if (quizes.length) { %>

<table class="main">
<thead><tr><th>Preguntas encontradas:</th></tr></thead>
<tbody>
<% var i; for (i=0; i < quizes.length; i++) {%>
    <tr><td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</tbody></table>
<p><a href="/quizes/new"><button type="button">Crear pregunta</button></a></p>
<% } %>
</form>
